.input-field {
  display: inline-flex;
  flex-direction: column;
  min-width: 200px;
  border-radius: 4px;
  background-color: #5c6e7c;
  border: 2px solid #5c6e7c;
  transition: all ease-in 0.25s;
}

.input-field.invalid {
  border: 2px solid red;
}

.input-field.invalid label {
  color: red;
}

label {
  font-size: 16px;
  padding-top: 4px;
  padding-left: 12px;
}

input {
  height: 20px;
  font-size: 18px;
  border: 0;
  padding: 0 8px 6px 12px;
  outline: none;
  color: #ffffff;
  caret-color: #61dafb;
  background-color: #5c6e7c;
}

label.active {
  color: #61dafb;
}
