.dialog-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000059;
}

.dialog-container {
  position: absolute;
  max-width: 800px;
  top: 25%;
  left: 25%;
  padding: 16px;
  z-index: 100;
  background-color: #38444d;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  animation: fadeInAnimation 0.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 26px;
}

.dialog-content {
  font-size: 22px;
  color: #e6e6e6;
}

hr {
  margin: 16px 0;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
