button {
  position: relative;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem;
  margin: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.flat {
  color: #ffffff;
  background-color: #38444d;
}

.flat:hover {
  background-color: #404d57;
}

.flat:after {
  content: "";
  background: #4c5c68;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.75s;
}

.flat:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
