.side-nav {
  display: flex;
  flex-direction: column;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  background-color: #1a1c22;
}

.side-nav a {
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
}

.side-nav.active {
  height: 100%;
  width: 260px;
}
.hamburger-container {
  height: 140px;
  width: 76px;
  background-color: #151618;
}

.hamburger-icon {
  position: relative;
  top: 48px;
  left: 16px;
  cursor: pointer;
  width: 60px;
  height: 40px;
}

.hamburger-icon span {
  position: absolute;
  width: 60px;
  height: 8px;
  background-color: #61dafb;
  opacity: 1;
  transition: 0.25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
  top: 0;
}
.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
  top: 16px;
}
.hamburger-icon span:nth-child(4) {
  top: 32px;
}

.hamburger-icon.active span:nth-child(1),
.hamburger-icon.active span:nth-child(4) {
  top: 16px;
  opacity: 0;
}
.hamburger-icon.active span:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger-icon.active span:nth-child(3) {
  transform: rotate(-45deg);
}
